body{
    margin:0;
}
.headline{
    display:grid;
    grid-template-columns:0px 1fr;
}
.headline ul{
    font-size:30px;
    margin:0;
}
.headline li{
    margin:30px;
}
.headline a{
     text-decoration:none;
}
.headline h1{
    font-size:100px;
    text-align:center;
    text-shadow:5px 5px 5px lightslategrey;
    margin:0px;
    padding:30px;
}
h2{
    font-size:50px;
    text-align:center;
    margin-bottom:0;
}
/* .selectList{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    font-size:20px;
    border-bottom:black solid 3px;
    margin:0;
}
.selectList a{
    text-decoration:none;
} */
.text textarea {
    padding: 10px;
    line-height: 2;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px rgb(90, 10, 10);
    margin:9px;
}
.text label {
    display:block;
    margin : 10px;
    margin-top:30px;
    font-size:20px;
    font-style:oblique;
    text-align:center;
    font-weight:bold;
}
.text{
    font-size: .8rem;
    letter-spacing: 3px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:10;
}
.background{
    background-image:url(study1.jpg);
    background-size:100%;
    background-position:top center;
    background-color:whitesmoke;
}